h1{
    text-align: center;
    background-color: lightgray;
    height: 300px;
    width: 300px;

    /* border-width: 10px;
    border-style: solid;
    border-color: darkslategray; */
    border: 10px solid darkslategray;

    padding: 10px;

    /* margin: auto;
    margin-top: 20px;
    margin-bottom: 40px; */
    margin: 20px auto 40px auto;

    /* outline-width: 10px;
    outline-style: solid;
    outline-color: black; */
    outline: 10px solid black;
}

a{
    border-width: 5px;
    border-style: dotted;
    border-color: firebrick;
    padding: 5px;
}